### Necessaey Packages

In [1]:
import sys
sys.path.append('..')
from src.utils import Tokenizer,DatasetDescriptor,TextPreprocessor
import pandas as pd
from sklearn.model_selection import train_test_split

In [2]:
descriptor : DatasetDescriptor = DatasetDescriptor.get_by_name("flickr30k")

In [3]:
df = pd.read_csv(descriptor.captions)

In [4]:
df.head()

            image                                            caption
0  1000092795.jpg   Two young guys with shaggy hair look at their...
1  1000092795.jpg   Two young , White males are outside near many...
2  1000092795.jpg   Two men in green shirts are standing in a yard .
3  1000092795.jpg       A man in a blue shirt standing in a garden .
4  1000092795.jpg            Two friends enjoy time spent together .

In [5]:
df.dropna(inplace=True)

In [6]:
images = df['image'].value_counts().index.to_list()
train_images,test_images = train_test_split(images, test_size=0.2)
train_df = df[df['image'].isin(train_images)]
test_df = df[df['image'].isin(test_images)]
print(len(train_images),len(test_images),len(train_df),len(test_df))
train_df.to_csv(descriptor.train_captions,index=False)
test_df.to_csv(descriptor.test_captions,index=False)

25426 6357 127129 31785

In [7]:
df.caption.iloc[1]

' Two young , White males are outside near many bushes .'

In [8]:
tokenizer = Tokenizer(preprocessor=TextPreprocessor())

In [9]:
tokenizer.fit(train_df['caption'].tolist())

100%|██████████| 127129/127129 [00:05<00:00, 22717.68it/s]

In [10]:
len(tokenizer.vocab)

5496

In [13]:
tokenizer.vocab.idx_2_str[7]

'two'

In [11]:
tokenizer(df.caption.iloc[1])

[1, 7, 31, 30, 414, 12, 25, 49, 171, 1259, 2]

In [14]:
tokenizer.save(descriptor.vocab_path)

['/home/abdelnour/Documents/4eme_anne/S2/NLP/image-captioning/data/flickr30k/vocab.pkl']

In [16]:
Tokenizer.load(descriptor.vocab_path)